sldkfjsdklfs.json
{
  "name": "one",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6ca291fb-009d-498d-9f63-64d15efccbe2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "country",
              "value": "us"
            },
            {
              "name": "apiKey",
              "value": "169c9acc3ff04cf99b81cf2f5c3d29c9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "ba41ed69-82a9-4a8e-9a04-ab315f07a80c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "jijeshrajk@gmail.com",
        "subject": "Todays News",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        0
      ],
      "id": "cfeaca75-8f9d-4664-90cc-c1aabbf3ece8",
      "name": "Send a message",
      "webhookId": "0481127f-6865-4380-8299-4e8070b98c75",
      "credentials": {
        "gmailOAuth2": {
          "id": "CLVscvVNFLCQEDjx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all articles into a single HTML message\nconst articles = $json[\"articles\"]; // Get the array from the API response\n\n// If data is nested inside an array (like when using split out), adjust accordingly\nconst allArticles = Array.isArray(articles) ? articles : items[0].json.articles;\n\nlet html = `<h2>📰 Today's News Summary</h2>`;\nfor (const article of allArticles) {\n  html += `\n    <div style=\"margin-bottom: 20px;\">\n      <h3>${article.title}</h3>\n      <p><b>Description:</b> ${article.description || \"No description\"}</p>\n      <a href=\"${article.url}\" target=\"_blank\">Read more</a>\n      <hr>\n    </div>\n  `;\n}\n\nreturn [{\n  json: {\n    subject: \"Today's Top News\",\n    body: html\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "3b5ea147-7aa3-4e3a-995a-4287de5ba0b5",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}